APP_NAME=
APP_ENV=
APP_PROFILER_ENABLED=

SQL_USER=
SQL_PASSWORD=
SQL_HOST=
SQL_PORT=
SQL_DATABASE=
SQL_MAX_POOL_CONN=

AMQP_USER=
AMQP_PASSWORD=
AMQP_HOST=
AMQP_PORT=

AUTH_KEYSET_URL=
AUTH_USERINFO_URL=
AUTH_PRIVATE_KEY_FILE=
AUTH_PUBLIC_KEY_FILE=
