services:
  server:
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./private.pem:/private.pem
      - ./public.pem:/public.pem
  worker:
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./private.pem:/private.pem
      - ./public.pem:/public.pem
  postgres:
    container_name: ${APP_NAME}.postgres
    image: postgres:16
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=${SQL_USER}
      - POSTGRES_PASSWORD=${SQL_PASSWORD}
      - POSTGRES_DB=${SQL_DATABASE}
  adminer:
    image: adminer
    container_name: ${APP_NAME}.adminer
    ports:
      - "8080:8080"
  rabbitmq:
    container_name: ${APP_NAME}.rabbitmq
    build:
      context: ./docker/rabbitmq
    ports:
      - "${AMQP_PORT}:5672"
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=${AMQP_USER}
      - RABBITMQ_DEFAULT_PASS=${AMQP_PASSWORD}