name: ${APP_NAME}
services:
  server:
    container_name: ${APP_NAME}.server
    build:
      context: .
      dockerfile: ./docker/server/Dockerfile
    restart: unless-stopped
    expose:
      - "3000" 
    ports:
      - "3000:3000"
    env_file:
      - .env

  worker:
    container_name: ${APP_NAME}.worker
    build:
      context: .
      dockerfile: ./docker/worker/Dockerfile
    restart: unless-stopped
    env_file:
      - .env
